
<p> 
    {{message}}
  </p>
  <mat-accordion >
        <p *ngIf= "!(postsData$ | async)"  >Loading...</p>    
          <mat-expansion-panel *ngFor = "let post of postsData$ | async; let i = index " >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <br>
            <b> <input hidden [(ngModel)] = "name" value="{{post.userName}}">
                <!-- By: {{post.name}} -->
             </b>
            <span style="margin-left:1em"></span>
           <input hidden [(ngModel)] = "title" value="{{post.title}}"> {{i}}.{{post.title}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        <input hidden [(ngModel)] = "body" value="{{post.body}}"> {{post.body}}   
        <br>
        postID: {{post.postID}}
        <br>
        <div *ngFor="let comment of commentsdata$" >
            <div *ngIf = "comment.postId == post.id ; other"> <h3> comment:</h3> {{comment.body}}  </div>
      </div> 
        <button mat-raised-button color="primary" (click)=savePosts(post.title,post.body) type="button" > Save</button>
        <!-- <button mat-raised-button color="primary"  [routerLink]="'/postsform/'+post.postID">Edit</button> -->
      </mat-expansion-panel>
    </mat-accordion>
  