
<p> 
  {{message}}
</p>
<mat-accordion >
      <p *ngIf= "!(postsData$ | async)"  >Loading...</p>    
        <mat-expansion-panel *ngFor = "let post of postsData$ | async; let i = index " >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <br>
          <b> <input hidden [(ngModel)] = "name" value="{{post.userName}}">
              <!-- By: {{post.name}} -->
           </b>
          <span style="margin-left:1em"></span>
         <input hidden [(ngModel)] = "title" value="{{post.title}}"> {{i}}.{{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <input hidden [(ngModel)] = "body" value="{{post.body}}"> {{post.body}}   
      <br>
      
      <br>
      <!-- <button mat-button (click)="onClick()">LIKE {{count !=0 ? count: ''}}</button>  -->
     
      <!-- <button mat-raised-button color="primary"  [routerLink]="'/postsform/'+post.postID">Edit</button> -->
    </mat-expansion-panel>
  </mat-accordion>
